@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900&display=swap');
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables
# Normalize
	## Typography
# Elements
	# Grid
# Form
	## Input
	## Buttons
	## Output
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
:root{
	--default_font: 16px;
	--placeholder_txt: 12px;
	--bg_color: #f6f0e7;
	--btn_color: #00a264;
	--grey: #7d7a75;
	--light_grey: #ded7c8;
	--blue: #1c5c76;
	--red: #a50000;
	--box_shadow: 0 0 6px rgba(0,0,0,0.3);
}

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
body{
	font-size: var(--default_font);
	background-color: var(--bg_color);
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

#title{margin-bottom: 30px}
#title h1{
	margin-bottom: 5px;
	font-size: 2em;
	font-weight: 900;
	color: var(--blue);
}

/*--------------------------------------------------------------
## Typography
--------------------------------------------------------------*/
h1,h2,h3,h4,h5,h6,p{margin-top: 0}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
.container{max-width: 50%; margin-left: auto; margin-right: auto;}
.container-wide{max-width: 70%;}

.flex{display: flex;}
.flex-wrap{display: flex; flex-wrap: wrap;}

main{margin: 30px auto;}

/*--------------------------------------------------------------
## Grid
--------------------------------------------------------------*/
.cols-2{width: 50%;}
.cols-3{width: 33.33%;}
.cols-4{width: 25%;}
.cols-5{width: 20%;}
.cols-6{width: 16.67%;}

/*--------------------------------------------------------------
# Form
--------------------------------------------------------------*/
fieldset{
	margin: 0;
	border-radius: 5px;
	padding: 12px 20px 20px;
	border: 1px solid var(--light_grey);
}
fieldset legend{color: var(--light_grey);}
fieldset div:last-of-type{margin-bottom: 0}

div, fieldset, #btnGenerate {margin-bottom: 30px;}

select, .checkboxGrp .label, #province{margin-bottom: 15px;}

.checkboxGrp label{font-weight: 500}
.checkboxGrp .label:last-of-type{margin-bottom: 0;}

.output_info{margin-bottom: 45px;}

.label{position: relative;}
.label:before{
	display: inline-flex;
	margin-bottom: 10px;
	font-weight: 500;
}

.label span:before{
	content: '\f059';
	font-size: 1em;
	font-family: 'Font Awesome 5 Free';
	/*font-weight: 900;*/
	margin-left: 5px;
}

.name:before{content: 'Name';}
.img_name:before{content: 'Image Name';}
.presale:before{content: 'Pre-sale text + blurb';}
.location:before{content: 'Location(s) & Venue(s)';}
.legal:before{content: 'Legal';}

code{
	display: none;
	position: absolute;
	max-width: 500px;
	word-wrap: break-word;
	background-color: var(--blue);
	color: white;
	border-radius: 5px;
	padding: 10px;
	z-index: 1;
}

/*--------------------------------------------------------------
## Input
--------------------------------------------------------------*/
input[type="checkbox"]{
	zoom: 2;
	margin: 0 5px 0 0;
}

input[type="text"], select, textarea{
	width: -webkit-fill-available;
	min-width: -webkit-fill-available;
	padding: 10px; font-size: 1em;
	border: none;
	border-radius: 3px;
	box-shadow: var(--box_shadow);
	background-color: white;
}

/*focus/active*/
input[type="text"]:focus, textarea:focus, select:focus{
	outline-width: 2px;
	outline-style: solid;
	outline-color: var(--blue);
}

input::placeholder{
	font-style: italic;
	font-size: var(--placeholder_txt);
}

textarea{min-height: 200px;}

select{-webkit-appearance: inherit;}

.selectWrapper{display: flex; position: relative;}
.selectWrapper select{width: 100%;}
.selectWrapper i{
	pointer-events: none;
	position: absolute;
	right: 0;
	margin-right: 15px;
	align-self: center;
	height: 38px; /* same as select height + padding (18 + 10+10) */
	font-size: 1.4em;
}

#province input[type="checkbox"]{margin-bottom: 5px;}

/*--------------------------------------------------------------
## Buttons
--------------------------------------------------------------*/
.btn{
	padding: 10px 30px;
	font-size: 1em;
	color: white;
}
.btn:active, .btn:focus{outline: none;}

.btn-cta{
	border: 1px solid #016c43;
	border-radius: 5px;
	background-color: var(--btn_color);
	transition: 0.3s ease-in-out;
}
.btn-cta:hover{background-color: #016c43;}

/*Cursor: Pointer*/
input[type="checkbox"]:hover,
select:hover,
.btn:hover,
.label span {cursor: pointer;}

.btnTabs{
	background-color: #999;
	border: none;
	box-shadow: var(--box_shadow);
	color: white;
}
#btnHtml{border-radius: 5px 0 0 0}
#btnTxt{border-radius: 0 5px 0 0}

.active{
	background-color: white;
	color: inherit;
}

#btnHelp{
	position: fixed;
	left: 0;
	top: 0; bottom: 0;
	transform: rotate(270deg);
	height: 40px;
	margin: 100px 0 auto -38px;
	border-radius: 0 0 10px 10px;
	background-color: var(--red);
	border-color: #6c0101;
	transition: 0.3s ease-in-out;
	font-size: 0.8em;
	text-transform: uppercase;
}
#btnHelp:hover{margin-left: -28px;}

#btnBack:before{
	content: '\f104';
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	margin-right: 10px;
}

/*--------------------------------------------------------------
## Output
--------------------------------------------------------------*/
#id:before{content: 'Mailing ID:'}
#subject:before{content: 'Subject Line:'}
#output_img_name:before{content: 'Image Name:'}

h3:before,h4:before{margin-right: 5px;}

.output{border-radius: 0 3px 3px 3px;}
.output textarea{
	min-height: 500px;
	font-size: var(--placeholder_txt);
}
.output textarea:focus{outline: none;}

#outputHtml{
	background-color: black;
	color: #7ba328; /* green */
}

#output, #outputTxt{display: none;}
